<h1> Welcome to the Relational Rails super app!</h1>

<ul>
  <li class="home"><a href="/dealers">Truck Dealers</a></li>
  <li class="home"><a href="/trucks">All Trucks</a></li>
  <li class="home"><a href="/roads">County Roads</a></li>
  <li class="home"><a href="/cars">Cars on Roads</a></li>
</ul>
